.img-logomarca {
	width: 10%;
}

.img-logofinal {
	max-width:250px;
    max-height:150px;
    width: auto;
    height: auto;
}

.bg-laranja {
	background-color: #F48221;
}

.text-laranja {
	color: #F48221;
}

.bg-verde {
	background-color: #45A649;
}

.text-verde {
	color: #45A649;
}

.imagem-carrossel1 {
    object-fit: cover;
    object-position: 0 0;
    height: 435px;
}

.imagem-carrossel2 {
    object-fit: cover;
    object-position: 0 10%;
    height: 435px;
}

.imagem-carrossel3 {
    object-fit: cover;
    object-position: 0 10%;
    height: 435px;
}

.imagem-carrossel4 {
    object-fit: cover;
    object-position: 0 15%;
    height: 435px;
}

.imagem-carrossel5 {
    object-fit: cover;
    object-position: 0 30%;
    height: 435px;
}

.imagem-oficina {
	object-fit: cover;
    object-position: 0 0;
    width: 100%;
    height: 250px;
}

.footer-lista {
	list-style-type: none;
	text-decoration:none;
	color: white;	
}

.img-certificado {
	max-width:150px;
    max-height:100px;
    width: auto;
    height: auto;
}

.parceria-link {
	list-style-type: none;
	text-decoration:none;
	color: black;
}